/*Template modified from: https://sarahleejane.github.io/learning/python/2015/08/09/simple-tables-in-webapps-using-flask-and-pandas-with-python.html*/

body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: -45px;
  font-size: 0.9em;
}

.male {
  display: table;
  width: 100%;
}

.male thead,
.male tbody {
  width: 100%;
}

.male thead {
  overflow-y: scroll;
  display: table;
  table-layout: fixed;
  width: calc(100% - 16px); /* assuming scrollbar width as 16px */
}

.male tbody {
  overflow: auto;
  height: 500px;
  display: block;
}

.male tr {
  width: 100%;
  text-align: left;
  display: table;
  table-layout: fixed;
}

.male th {
    background-color: #add8e6;
    color: white;
}


tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}
th:hover            { background-color: #ffff99;}
